<div class="row"><h2><span class="col-sm-2">Name</span> <span class="col-sm-2">Brand</span> <span class="col-sm-2">Price</span> <span class="col-sm-2">ABV</span> <span class="col-sm-2">Pints</span></h2></div>
<select (change)="onChange($event.target.value)">
  <option value="all">Show All</option>
  <option value="low">Show Low Kegs</option>
</select>
<keg-display *ngFor="#currentKeg of kegList | lowPints:filterPints"
(click)="kegClicked(currentKeg)"
[class.selected]="currentKeg === selectedKeg"
[keg]="currentKeg">
</keg-display>
<edit-keg-details *ngIf="selectedKeg" [keg]="selectedKeg">
</edit-keg-details>
<new-keg (onSubmitNewKeg)="createKeg($event)" [kegList]="kegList"></new-keg>
